/* By element */

body {
  background: grey;
  color: white;
  font-size: 20px;
}

a {
  color: white;
  display: block;
  margin: 1em 0;
}

p > a {
  display: inline;
}

input, button{
  font-size: 1em;
  border : 0;
  padding: 1em;
  margin-bottom: 5px;
  display: inline-block;
}

/* By class */

.card {
  border: 1px solid white;
  padding: 0.25em 1em;
  margin-bottom: 5px;
}

